* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
}

code, pre {
  font-family: 'JetBrains Mono', monospace;
}